
        <div class="row">
        <div class="col-xs-12">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<button class="btn btn-danger" (click)="closeAddForm()">X</button>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-push-6">
			    					<div class="form-group">
										<input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="שם פרטי" ngModel required >
			    					</div>
			    				</div>	
			    				<div class="col-xs-6 col-sm-6 col-md-pull-6">
			    					<div class="form-group">
										<input type="text" name="last_name" id="last_name" class="form-control input-sm floatlabel" placeholder="שם משפחה" ngModel required>
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="אימייל" ngModel required> 
			    			</div>
							<div class="row">
								<div class="col-sm-6" style="float: right">
									<label class="radio"><input type="radio" name="type" value=1 ngModel required>קטיף ישראלי</label>
                      				<label class="radio"><input type="radio" name="type" value=0 ngModel required>עמק תפארת</label>
			    				</div>
								<div class="col-sm-6">
			    					<div class="form-group">
			    						<input type="number" name="id" id="id" class="form-control input-sm" placeholder="תעודת זהות" ngModel required>
			    					</div>
			    				</div>

							</div>
							
							
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                      					<button type="submit" class="btn btn-success btn-block" style="text-align: center" [disabled]="!f.valid">הוסף</button>
			    					</div>
			    				</div>
								
			    			</div>
							<h5 *ngIf="error">feef</h5>
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    
