
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
		<img src="../../../assets/login.png" style="padding-left: 100px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-center panel-title">התחבר</div>
      </div>
      <div class="panel-body">
        <div class="col-sm-8 col-sm-offset-2">
          <form class="form-horizontal" (ngSubmit)="onLogin(f)" #f="ngForm">
            <div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			        <input class="form-control" type="email" id="email" name="email" placeholder="" class="input-xlarge" placeholder="משתמש"
              style="text-align: right" ngModel>
			      </div>
            <br>
            <div class="input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			        <input class="form-control" type="password" id="password" name="password" placeholder="" class="input-xlarge" style="text-align: right"
              placeholder="סיסמה" ngModel>
			    	</div>
            <br>          
            <button class="btn btn-primary pull-left" type="submit">התחבר <i class="glyphicon glyphicon-log-in"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>