<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
		<div style="margin: auto; width: 60%">
      <img src="../../../assets/logo.png">
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-center panel-title">רשום את כתובת המייל שלך</div>
      </div>
      <div class="panel-body">
        <div class="col-sm-8 col-sm-offset-2">
          <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
			        <input class="form-control" type="email" id="email" name="email" ngModel>
			      </div>
            <br>
            <button class="btn btn-primary pull-left" type="submit">אישור </button>
            <button type="button" class="btn btn-danger pull-right" routerLink="/login">בטל</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>