<div class="row">
  <div class="col-xs-12">
    <form role="form" (ngSubmit)="add(f)" #f="ngForm" class="pull-right">
      <button class="btn btn-success" type="submit">הוסף</button>
      <button class="btn btn-info" type="reset">נקה</button>
      <input type="number" value="" name="totalHours" ngModel placeholder='סה"כ שעות' required dir="auto">
      <input type="time" value="" name="endHour" ngModel placeholder="שעת סיום" required dir="auto">
      <input type="time" value="" name="startHour" ngModel placeholder="שעת התחלה" required dir="auto">
      <input type="text" value="" name="day" ngModel="date" placeholder="יום" required dir="auto">
      <input type="date" value="" name="date" ngModel placeholder="תאריך" required dir="auto">
      <input type="text" value="" name="employer" ngModel placeholder="מעסיק" required dir="auto">
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-work-table></app-work-table>
  </div>
</div>