<div class="table-responsive">
  <form role="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
   <!-- <button type="button" class="btn btn-info" (click)="onClick()">עבור</button>
    <select id="soflow-color" value="a" style="float: right" #t (change)="callType(t.value)">
        <option> בחר חודש</option>
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>-->
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>סה"כ שעות</th>
          <th>שעת סיום</th>
          <th>שעת התחלה</th>
          <th>יום</th>
          <th>תאריך</th>
          <th>מעסיק</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let day of days; let i = index">
          <tr *ngIf="day === edit">
            <th>
              <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-pencil"></span> שמור
          </button>
            </th>
            <th class="edit"><input type="number" name="totalHours" ngModel={{day.totalHours}} dir="auto"></th>
            <th class="edit"><input type="time" name="endHour" ngModel={{day.endHour}} dir="auto"></th>
            <th class="edit"><input type="time" name="startHour" ngModel={{day.startHour}} dir="auto"></th>
            <th class="edit"><input type="text" name="day" ngModel={{day.day}} dir="auto"></th>
            <th class="edit"><input type="date" name="date" ngModel={{day.date}} dir="auto" required placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date"></th>
            <th class="edit"><input type="text" name="employer" ngModel={{day.employer}} dir="auto"></th>
            <th>{{i+1}}</th>
          </tr>
          <tr *ngIf="day !== null && day !== edit">
            <th>
              <a class="red-text" (click)="onDelete(day)" style="cursor: pointer">
          מחק <span class="glyphicon glyphicon-remove"></span>
          </a> |
              <a (click)="onEdit(day)" style="cursor: pointer">
            <span class="glyphicon glyphicon-pencil"></span> ערוך
          </a>
            </th>
            <th>{{day.totalHours}}</th>
            <th>{{day.endHour}}</th>
            <th>{{day.startHour}}</th>
            <th>{{day.day}}</th>
            <th>{{day.date}}</th>
            <th>{{day.employer}}</th>
            <th>{{i+1}}</th>
          </tr>
        </ng-container>

      </tbody>
    </table>
  </form>
</div>